<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="five columns">My book review website</h1>
        </div>
        <div class="row">
            <button class="two columns">Home</button>
            <button class="two columns">Login</button>
            <button class="two columns">Register</button>
        </div>
        {% block content %}
        {% endblock %}
    </div>

</body>